@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono');
body{
	background-color:#D6EAF8;
/*	margin:0 auto;*/
}
h6
{
	margin:0;
}
.head
{
    display: flex;
     justify-content: center;
	background:#D6EAF8;
	padding:5px;
    align-items: center;
}
.head:hover
{
	background:#D6EAF8;
}
 .head h1
 {	
 	font-family: 'Roboto Mono', monospace;
 	color:#4481a2;
 }
 .head h1:hover {
   color:#2575a0;
 }
 .head h1,
 .navbar{
 	transition: 0.4s all linear;
 }
 .navbar { 
 	padding: .5rem 4rem;
 	background:#406f8a;
 }
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
	color:white;
	transition: 0.3s all linear;
	font-family: 'Poppins', sans-serif;
 }
.navbar-light .navbar-nav .nav-link:hover{
	padding-top:5px;

}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color:#ffc103;
}
/*Login Box*/

.modalBox{
   display:none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow:auto;
   background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background:rgba(0,0,0,0.6);
	margin: 20% auto;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: openModal;
	animation-duration:0.9s;
}

.modal-head{
	padding: 12px;
}
.modal-head
,.modal-head h2{
	color: white;
}
.modal-head h2{
	margin: 0;
}
.i-tag {
	padding: 5px;
	border:2px solid white;
	border-radius: 50%;
}

.modal-body{
	margin: 0 auto;
	width: 80%;
	padding: 15px 10px;
}

#closeBtn{
	color: white;
	float: right;
	font-size: 25px;
}

#closeBtn:hover,#closeBtn:focus{
	color:black; 
    text-decoration: none;
    cursor: pointer;
}

.input-field1 input,
.button1{
	width: 100%;
	border:0;
	outline: 0;
	background-color: transparent;
	padding:10px;
}

.input-field1{
	background-color: white;
	border-radius: 10px;
	margin: 10px auto;
}

.input-field1 input::placeholder {
	text-transform: uppercase;
	color: #06622d;
}
.button1{
	background-color:#1E8449;/*rgb(160, 68, 255));*/
	border-radius: 50px;
	transition: 0.3s all linear;
	cursor: pointer;
}
.button1 a
{
	color:white;
}
.button1:hover{
	background-color:#06622d;
}
.button1 button{
	padding: 20px;
}
@keyframes openModal{
	from {opacity: 0}
	to {opacity: 50;}
}
/*Login-Box*/
.col-sm-6{
	text-align:justify;
}



 .d-block {
 	height: 520px;
 }
 .head{
 	height: 100%;
 }
 .wrapper img{
 	height:200px;
 	width:390px;
 }
  .wrapper .row .col-sm-3{
  margin-bottom: 5px;  
 }
  .wrapper .row .col-sm-3 img:hover{
  transform:scale(1.1);
  transition:0.4s all linear;
 }
 .o-f{
 	overflow:hidden;
 }
 .container-fluid {
 	padding:10px 50px 10px 50px;
 	text-align:justify;
 }
#carouselExampleIndicators{
	padding: 10px 20px;
}
iframe{
	width:100%;
	height:250px;
}
 footer{
 	background:gray;
 	margin:0;
 }
 footer .social-links{
 	display:flex;
 	align-items:center;
 	justify-content: center;
 /*	padding:20px 0px;*/
    background:-webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%)
 }
  footer .social-links a {
  background-color:#e8e3d1;
  border-radius: 50%;
  	margin:5px;  
  }
  footer .social-links a:hover{
  background-color:#e2d7af;
}
  footer .social-links a img{
 
  	 height:100%;
  	 width:45px;
  	 padding:13px;
 }
  footer .social-links a:hover img{
  	transform:scale(1.2);
 }
 footer .text-center{
 	padding:10px 5px;
 }
 


 @media screen and (max-width: 768px) {
 	
 	.head h1 {
 		font-size: 32px;
 	}
 	.navbar { 
 		padding: .5rem 1rem;
 	}
 	.d-block {
 		height: 100%;

 	}
 	.head img
 	 {
 	 	width:80px;
 	 }
 	 .container-fluid
 {
 	padding:2px 5px 2px 5px;
 }
 iframe{
	width:100%;
	height:150px;
}
 
 }
 @media screen and (max-width: 568px) {
 	 
 	 .head h1
 	 {
       font-size: 28px;

 	 }	
 	 iframe{
	height:120px;
}
 }

 @media screen and (max-width: 460px) {
 	 
 	 .head h1
 	 {
       font-size: 20px;
 	 }	
 	 .head img
 	 {
 	 	width:50px;
 	 }
 	 .modal-content{
	width: 90%;
}
     .modal-body{
     	padding:10px;
     	width:90%;
     }
 	 iframe{
	height:90px;
}
 footer .social-links{
 	padding:5px 0;
 }
 footer h6{
 	font-size:13px;
 	padding:0;
 }

 }